body {
    font-family: Arial, sans-serif;
    background: #f4f4f4;
}

.container {
    width: 400px;
    margin: 50px auto;
    text-align: center;
    background: white;
    padding: 20px;
    border-radius: 10px;
}

input {
    width: 70%;
    padding: 10px;
}

button {
    padding: 10px;
    cursor: pointer;
}

ul {
    list-style: none;
    padding: 0;
}

li {
    margin-top: 10px;
    padding: 10px;
    background: #ddd;
    display: flex;
    justify-content: space-between;
}

.completed {
    text-decoration: line-through;
    background: #a0e7a0;
}